@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Open+Sans:wght@300&family=Source+Code+Pro&display=swap');

:root{
    --background-color: rgb(246 247 251);;
    --light-text: rgb(179, 179, 179);
    --dark-text: rgba(97, 96, 96, 0.435);
    --hover-link: rgb(45, 109, 212);
}

*, *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body
{
    font-family: 'Comfortaa', cursive;
    background-color: var(--background-color);
}
.container
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
}
.sidebar
{
    background-color: rgb(26, 26, 33);
    height: 100vh;
    padding: 30px;
    grid-row: 1 / -1;
}
.sidebar-logo
{
    color: white;
    text-align: center;
    margin: 15px 0;
}
.sidebar-item img
{
    height: 25px;
    width: 25px;
}
.sidebar-nav a 
{
    text-decoration: none;
    color: var(--light-text);
    display: block;
    font-size: 20px;
    margin: 20px 0;
    letter-spacing: 2px;
}
.sidebar-nav a:hover
{
    color: var(--hover-link);
}
.navbar
{
    padding: 20px;
    /* border: 1px solid red; */
}
.navbar-container
{
    border: 2px solid rgba(211, 211, 211, 0.743);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container a
{
    text-decoration: none;
    color: black;

}
.navbar-container a:hover
{
    color: var(--hover-link);
}
.navbar-links-left
{
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar-links-right
{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--dark-text);
}
.navbar-links-right img
{
    height: 20px;
    width: 20px;
}
.divider
{
    background-color: var(--dark-text);
    height: 1px;
    width: 100%;
}
.v-divider
{
    background-color: var(--dark-text);
    width: 1px;
    height: 100%;
}
.main-content
{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column: 2 / -1;
    padding: 25px;
}
.projects
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* border: 1px solid black; */
    grid-auto-rows: max-content;
    gap: 10px;
    padding: 10px;
}
.projects-title
{
    grid-column: 1 / -1;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
}
.project-card
{
    border: 2px solid rgba(211, 211, 211, 0.743);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
.announcements
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    /* border: 1px solid black; */
    padding: 10px;
}
.announcements-title
{
    grid-column: 1 / -1;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}